* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  padding: 15px !important;
}

h2 {
  margin-top: 30px;
}

input {
  padding-left: 20px !important;
}